{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h3>Entregables</h3>

<div class="contenido">
  <p>
    Buenas!!
  </p>

  <p>
    Soy Christian Gallardo, creador de nuestra Plataforma de Administración Académica basada en Django. Con el objetivo de
    facilitar la gestión de estudiantes, cursos y profesores, he desarrollado una solución eficiente y fácil de usar. Mi
    enfoque se centra en brindar herramientas que permitan un control centralizado de la información relevante en el entorno
    académico. Además, he incorporado funciones de comunicación que permiten a los profesores publicar novedades y enviar
    mensajes a las bandejas de entrada de los estudiantes. En resumen, mi plataforma ofrece una gestión académica efectiva y
    una comunicación fluida entre profesores y estudiantes.
  </p>

  {% endblock %}