{% extends "AppCoder/estudiantes.html" %}
{% load static %}

{% block setEstudiantes %}
<div class="formulario-custom">

    <h5>Crear Estudiante</h5>

    <form action="/Appcoder/setEstudiantes/" method="post"> {% csrf_token %}
        <table>

            {{ miFormulario.as_table }}

        </table>
        <input type="submit" value="Enviar">

    </form>

    <h5>Estudiantes disponibles</h5>
    
    
    <table>
        <tr>
            <th  style="padding-right: 1rem;">Nombre</th>
            <th  style="padding-right: 1rem;">Apellido</th>
            <th  style="padding-right: 1rem;">Correo</th>
            <th  style="padding-right: 1rem;">Eliminar</th>
            <th>Editar</th>
    
        </tr>
    
    
        {% for estudiante in Estudiantes %}
    
        <tr>
            <td style="padding-right: 1rem;">{{estudiante.nombre}}</td>
            <td style="padding-right: 1rem;">{{estudiante.apellido}}</td>
            <td style="padding-right: 1rem;">{{estudiante.email}}</td>
            <td><button class="btn btn-danger" style="background-color: #45c5f2; color: white; text-decoration: none;"><a href="{% url 'eliminarEstudiante' estudiante.nombre %}" style="color: white; text-decoration: none;">X</a></button></td>
            <td><button class="btn btn-warning" style="background-color: #45c5f2; color: white; text-decoration: none;"><a href="{% url 'editarEstudiante' estudiante.nombre %}" style="color: white; text-decoration: none;">Editar</a></button></td>
        </tr>
    
        {% endfor %}
    
    
    
    
    
    
    </table>
</div>
{% endblock %}